<div class="sidebar">
  <ion-list>

    <ng-container *ngFor="let menu of menuItems">

      <!-- PARENT MENU (NO URL) -->
      <ion-item
        lines="none"
        *ngIf="menu.children">
        <ion-label>
          <strong>{{ menu.title }}</strong>
        </ion-label>
      </ion-item>

      <!-- CHILD MENUS (WITH URL) -->
      <ion-item
        *ngFor="let child of menu.children"
        [routerLink]="child.url">
        <ion-icon [name]="child.icon" slot="start"></ion-icon>
        <ion-label>{{ child.title }}</ion-label>
      </ion-item>

      <ion-item-divider></ion-item-divider>

    </ng-container>

  </ion-list>
</div>
