ion-card {
  margin-bottom: 14px;
}

ion-card-title {
  font-size: 16px;
  font-weight: 600;
}

ion-item {
  --padding-start: 0;
}

ion-label {
  font-size: 14px;
}

ion-radio-group ion-item {
  margin-left: 8px;
}

ion-footer ion-button {
  margin: 8px;
}
