<ion-header>
    <ion-toolbar>
      <ion-title>Update {{ docType }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
    <input type="file" (change)="onFileChange($event)" />
  
    <!-- Image Preview -->
    <img *ngIf="previewUrl" [src]="previewUrl" style="width:100%; margin-top:10px" />
  
    <!-- Existing Doc -->
    <!-- <ion-button *ngIf="existingDoc" expand="block" fill="clear"
      (click)="window.open(existingDoc)">
      View Existing
    </ion-button> -->
  
    <ion-button
      expand="block"
      color="primary"
      [disabled]="!selectedFile || loading"
      (click)="upload()">
      {{ loading ? 'Uploading...' : 'Upload' }}
    </ion-button>
  
  </ion-content>
  